* {
    font-family: sans-serif;
}

p {
    margin: 1rem;
}

h1 {
    margin: 1rem;
}

/* Style the links inside the navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #311b13;
}

li {
    float: left;
    color: #ffee04;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffee04;
}

li a:hover:not(.active) {
    background-color: #c03856;
}

.active {
    background-color: #a43901;
}